<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
    <meta charset="UTF-8">
    <title>EAS - Edit event</title>
</head>
<body>

<div th:insert="fragments :: body"></div>

<h1 class="text-center">Edit event</h1>
<hr>

<form th:action="@{edit}" th:object="${editEventForm}" method="post" style="width: 500px; margin: auto">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input th:type="text" th:field="*{title}" class="form-control" placeholder="Enter event title...">
        <span th:errors="*{title}"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Start date</label>
        <input type="date" th:field="*{startDate}" class="form-control" placeholder="Enter event start date...">
        <span th:errors="*{startDate}"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">End date</label>
        <input type="date" th:field="*{endDate}" class="form-control" placeholder="Enter event end date...">
        <span th:errors="*{endDate}"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input th:type="text" th:field="*{description}" class="form-control" placeholder="Enter event description...">
        <span th:errors="*{description}"></span>
    </div>
    <button type="submit" class="btn btn-primary">Edit event</button>
</form>

</body>
<div th:insert="fragments :: footer"></div>
</html>
