<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar :: header">
    <meta charset="UTF-8">
    <title th:text="${'EAS - ' + event.title}">EAS - single event</title>
</head>
<body>

<div th:insert="navbar :: body"></div>

<div class="jumbotron">
    <h1 class="display-4" th:text="${event.title}">Event title</h1>
    <p class="lead" th:text="${event.startDate + ' to ' + event.endDate}">Event date</p>
    <hr class="my-4">
    <p th:text="${event.description}"></p>
    <span th:if="${!isOwnerOrAdmin}" class="d-inline-block" data-toggle="tooltip" title="You are not owner or admin!">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Edit</button>
    </span>
    <span th:if="${loggedAs == null}" class="d-inline-block" data-toggle="tooltip" title="You are not logged!">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Sign up</button>
    </span>
    <span th:if="${isOwnerOrAdmin}" class="d-inline-block">
        <a class="btn btn-primary" th:href="@{{eventId}/edit(eventId=${event.id})}" role="button"
           th:if="${isOwnerOrAdmin}">Edit</a>
    </span>
    <span th:if="${loggedAs != null}">
        <span th:if="${!isSignedUpFor}" class="d-inline-block">
            <form th:action="@{{eventId}/sign-up(eventId=${event.id})}" method="post">
                <button class="btn btn-primary" type="submit">Sign up!</button>
            </form>
        </span>
        <span th:if="${isSignedUpFor}" class="d-inline-block" data-toggle="tooltip" title="You are already signed up for this event!">
            <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Signed up!</button>
            <span class="d-inline-block">
                <form th:action="@{{eventId}/sign-off(eventId=${event.id})}" method="post">
                    <button class="btn btn-primary" type="submit">Sign off!</button>
                </form>
            </span>
        </span>
    </span>
    <div class="dropdown" style="margin-top: 5px">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Signed up users
        </button>
        <div class="dropdown-menu" th:each="user : ${usersSignedUpFor}">
            <p class="dropdown-item-text" th:text="${user.email}"></p>
        </div>
    </div>
</div>

<hr>

<div>
    <form th:action="@{/events/{eventId}/comment/add(eventId=${event.id})}" th:object="${newCommentForm}" method="post"
          style="width: 500px; margin-left: 30px">
        <h1>Add comment</h1>
        <div th:if="${loggedAs == null}">
            <div class="mb-3">
                <label class="form-label">Comment</label>
                <input type="text" th:field="*{comment}" class="form-control" placeholder="Enter comment text..."
                       disabled>
                <span th:errors="*{comment}"></span>
            </div>
            <span class="d-inline-block" data-toggle="tooltip" title="You are not logged!">
                <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Add comment</button>
            </span>
        </div>
        <div th:if="${loggedAs != null}">
            <div class="mb-3">
                <label class="form-label">Comment</label>
                <input type="text" th:field="*{comment}" class="form-control" placeholder="Enter comment text...">
                <span th:errors="*{comment}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add comment</button>
        </div>
    </form>
</div>

<hr>

<div style="width: 500px; margin-left: 30px">
    <h1>Comments</h1>
    <div class="list-group" th:each="comment : ${event.comments}">
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${comment.nickname}">Nickname</h5>
                <small th:text="${#temporals.format(comment.added, 'yyyy-MM-dd HH:mm')}">Added</small>
            </div>
            <p class="mb-1" th:text="${comment.text}">Text</p>
        </div>
    </div>
</div>


</body>
</html>
