<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
    <meta charset="UTF-8">
    <title th:text="${'EAS - ' + event.title}">EAS - single event</title>
</head>
<body>

<div th:insert="fragments :: body"></div>

<div class="jumbotron">
    <h1 class="display-4" th:text="${event.title}">Event title</h1>
    <p class="lead"
       th:text="${#temporals.format(event.startDate, 'dd.MM.yyyy') + ' to ' + #temporals.format(event.endDate, 'dd.MM.yyyy')}">
        Event date
    </p>
    <hr class="my-4">
    <p th:text="${event.description}"></p>

    <div th:if="${loggedAs == null}" class="d-inline-block" data-toggle="tooltip" title="You are not logged!">
        <button class="btn btn-primary" style="pointer-events: none; width: 200px" type="button" disabled>Login or sign up first</button>
    </div>

    <div th:if="${isOwnerOrAdmin}" class="d-inline-block">
        <a class="btn btn-primary" th:href="@{{eventId}/edit(eventId=${event.id})}" role="button"
           th:if="${isOwnerOrAdmin}" style="width: 200px">Edit</a>
    </div>

    <span th:if="${loggedAs != null}">
        <span th:if="${!isSignedUpFor}" class="d-inline-block" style="width: 200px">
            <form th:action="@{{eventId}/sign-up(eventId=${event.id})}" method="post">
                <button class="btn btn-primary" type="submit">Sign up for the event!</button>
            </form>
        </span>
        <div th:if="${isSignedUpFor}" class="d-inline-block">
            <button class="btn btn-primary" style="pointer-events: none; width: 200px" type="button" disabled
                    data-toggle="tooltip" title="You are already signed up for this event!">
                Signed up!
            </button>
            <div class="d-inline-block" style="width: 200px">
                <form th:action="@{{eventId}/sign-off(eventId=${event.id})}" method="post">
                    <button class="btn btn-primary" type="submit">Sign off from the event!</button>
                </form>
            </div>
        </div>
    </span>

    <div class="dropdown" style="margin-top: 5px">
        <button class="btn btn-primary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                style="width: 200px">
            Signed up users
        </button>
        <div class="dropdown-menu" style="width: 200px">
            <span class="dropdown-item-text" th:each="user : ${usersSignedUpFor}" th:text="${user.nickname}"></span>
        </div>
    </div>

</div>

<hr>

<div>
    <form th:action="@{/events/{eventId}/comment/add(eventId=${event.id})}" th:object="${newCommentForm}" method="post"
          style="width: 500px; margin-left: 30px">
        <h1>Add comment</h1>
        <div th:if="${loggedAs == null}">
            <div class="mb-0">
                <label>
                    <input type="text" th:field="*{comment}" class="form-control" style="width: 200px"
                           placeholder="Enter comment text..." disabled>
                </label>
                <span th:errors="*{comment}"></span>
            </div>
            <span class="d-inline-block" data-toggle="tooltip" title="You are not logged!">
                <button class="btn btn-primary" style="pointer-events: none; width: 200px" type="button"
                        disabled>
                    Add comment
                </button>
            </span>
        </div>

        <div th:if="${loggedAs != null}">
            <div class="mb-0">
                <label>
                    <input type="text" th:field="*{comment}" class="form-control" placeholder="Enter comment text...">
                </label>
                <span th:errors="*{comment}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add comment</button>
        </div>

    </form>
</div>

<hr>

<div style="width: 500px; margin-left: 30px">
    <h1>Comments</h1>
    <div class="list-group" th:each="comment : ${event.comments}">
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${comment.commentator.nickname}">Nickname</h5>
                <small th:text="${#temporals.format(comment.added, 'yyyy-MM-dd HH:mm')}">Added</small>
            </div>
            <p class="mb-1" th:text="${comment.text}">Text</p>
        </div>
    </div>
</div>


</body>
<div th:insert="fragments :: footer"></div>
</html>
