<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
    <meta charset="UTF-8">
    <title>EAS - Options</title>
</head>

<body>

<div th:insert="fragments :: body"></div>

<h1 class="text-center">User options</h1>
<hr>
<form th:action="@{/user-register}" th:object="${editUserForm}" method="post" style="width: 500px; margin: auto">
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input th:type="password" th:field="*{password}" class="form-control" placeholder="Enter your new password...">
        <span th:errors="*{password}"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Nickname</label>
        <input th:type="text" th:field="*{nickname}" class="form-control" placeholder="Enter your new nickname...">
        <span th:errors="*{nickname}"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

</body>
<div th:insert="fragments :: footer"></div>
</html>
