<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar :: header">
    <meta charset="UTF-8">
    <title>EAS - Login</title>
</head>

<body>

<div th:insert="navbar :: body"></div>

<h1 class="text-center">Login</h1>
<hr>

<form th:action="@{/user-login-submit-data}" method="post" style="width: 500px; margin: auto;">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Enter your email...">
        <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Enter your password...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>
